<!-- add_source.html - add a source -->

{% extends "base.html" %}


{% block title %} 
  <div class="schwartz_content">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    {{ title }} 
  </div>
{% endblock %}

{% block content %}
  <div class="schwartz_content">
    <script>
        $(document).ready(function() {
            $('#data').DataTable( {
                "pageLength": 50
            });
        } );
    </script>

    <form method="post" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save bnt bnt-default">Save</a>
    {{ form.id }}
    <!-- ul>
        <li>name: {{ form.name }}</li>
        <li>what is it? {{ form.source_type }}</li>
        <li>your notes: {{ form.notes }}</li>
        <li>paste the thing: {{ form.fulltext }}</li>
    </ul -->
    </form>
  </div>
{% endblock %}
