<!-- List the words in one source, or list sources -->

{% extends "base.html" %}


{% block title %} 
  <div class="ww_content">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <h1><!-- { {title}} --></h1>
    <h1> {{source}} </h1>
  </div>
{% endblock %}

{% block content %}
  <div class="ww_content">
    <script>
        $(document).ready(function() {
            $('#data').DataTable( {
                "pageLength":25 
            });
        } );
    </script>

    <!-- Source: {{ source }} -->
    <a href="#fulltext">Jump to full text of this source</a>
    <table id="data" class="display table table-striped table-bordered foobar" cellspacing="0" width="100%">
        <thead>
            <tr>
                <!-- td>links</td -->
                <td class="foo">word</td>
                <td class="foo">count</td>
            </tr>
        </thead>
        <tbody>
            {% for f in lst %}
            <tr>
                <td><a href="http://dict.leo.org/#/search={{ f.word }}&searchLoc=0&resultOrder=basic&multiwordShowSingle=on" target="_new"><img src="http://dict.leo.org/img/favicons/ende-929f8e10.ico"></a>
                    <a href="http://translate.google.com/#de/en/{{ f.word }}" target="_new"><img src="http://google.com/favicon.ico" width="22" height="22"></a>
                <a href="/show_word/{{ f.word.id }}">{{ f.word }}</a></td>
                <td><a href="/show_word/{{ f.word.id }}">{{ f.cnt }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a id="fulltext">Fulltext of source: </a>
<pre>
{{ source.fulltext }}
</pre>

  </div>
{% endblock %}
