
{% extends "base.html" %}


{% block title %} 
  <div class="ww_content">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <h1><!-- { {title}} --></h1>
    <h1> {{word}} 

        <a href="http://dict.leo.org/#/search={{ word }}&searchLoc=0&resultOrder=basic&multiwordShowSingle=on" target="_new"><img src="http://dict.leo.org/img/favicons/ende-929f8e10.ico"></a>
        <a href="http://translate.google.com/#de/en/{{ word }}" target="_new"><img src="http://google.com/favicon.ico" width="22" height="22"></a></h1>
  </div>
{% endblock %}

{% block content %}
  <div class="ww_content">
    <script>
        $(document).ready(function() {
            $('#data').DataTable( {
                "pageLength": 50
            });
        } );
    </script>

    <table id="data" class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>source</td>
                <td>cnt</td>
            </tr>
        </thead>
        <tbody>
            {% for f in word_lst %}
            <tr>
                <td><a href="/show_source/{{ f.source.id }}">{{ f.source }}</a></td>
                <td><a href="/show_source/{{ f.source.id}}">{{ f.cnt }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Sentences Using {{ word }}</h2>
    <ul>
        {% for f in sentence_lst %}
        <li> {{ f.sentence }} <a href="http://translate.google.com/#de/en/{{ f.sentence }}" target="_new"><img src="http://google.com/favicon.ico" width="22" height="22"></a> 
        {% endfor %}
    </ul>

  </div>
{% endblock %}
