.header
{
    background-color: black;
    padding-left: 5px;
    padding-top:5px !important; padding-bottom:5px !important;
}

.foobar {
    width: 50% !important;
}
.word-form-label {
    color: black !important;
    font-size: 75%;
}
.word-form-input {
}

.foo {
    white-space: nowrap;
    width: 1%;
    color: red !important;
}

.table td.fit, td 
.table th.fit, th {
    white-space: nowrap;
    width: 1%;
    color: !important red;
}


.nav_ww
{
    #color: red !important;
    #background-color: black;
    padding-left: 15px;
    padding-right: 25px;
}


.navbar-nav > li > a, .navbar-brand  {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}
.navbar {min-height:30px !important;}

.navbar-text
{
    color: red !important;
}

.ww_content
{
    padding-left: 15px;
    padding-right: 15px;
}
